<div class="container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login()">
    <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" placeholder="Usuario" required>
    <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" placeholder="Contraseña" required>
    <button type="submit">Iniciar Sesión</button>
  </form>
  <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>

