<app-navbar></app-navbar>

<div class="content">
  <h2>Bienvenidos a ndeon store</h2>
  <section id="descripcion">
    <h2>Descripción</h2>
    <p>Somos una tienda especializada en la venta de tarjetas gráficas de NVIDIA y AMD, ofreciendo productos de alto rendimiento para gamers y creadores de contenido.</p>
  </section>

  <section id="quienes-somos">
    <h2>¿Quiénes somos?</h2>
    <p>Somos un equipo apasionado por la tecnología y el gaming, brindando las mejores soluciones en hardware gráfico.</p>
  </section>
</div>